alembic==0.9.6
beautifulsoup4==4.6.0
better-exceptions==0.1.7
Bottleneck==1.2.1
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
contextlib2==0.5.5
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.27.3
decorator==4.1.2
dill==0.2.5
empyrical==0.3.3
future==0.16.0
idna==2.6
intervaltree==2.1.0
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
itchat==1.2.32
jedi==0.11.0
jsonpickle==0.9.4
jupyter-client==5.1.0
jupyter-core==4.4.0
line-profiler==2.0
llvmlite==0.20.0
Logbook==1.0.0
lru-dict==1.1.6
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.0
multipledispatch==0.4.9
networkx==2.0
numba==0.35.0
numexpr==2.6.4
numpy==1.13.3
pandas==0.19.1
pandas-datareader==0.5.0
parso==0.1.0
patsy==0.4.1
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psutil==5.4.3
ptyprocess==0.5.2
py==1.5.2
pyfolio==0.8.0
Pygments==2.2.0
pyparsing==2.2.0
pypng==0.0.18
PyQRCode==1.2.1
pytest==3.2.5
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
redis==2.10.6
requests==2.18.4
requests-file==1.4.2
requests-ftp==0.3.1
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
simplejson==3.12.0
six==1.11.0
sortedcontainers==1.5.7
statsmodels==0.8.0
tables==3.4.2
tabulate==0.8.1
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
wechat-sender==0.1.4
wxpy==0.3.9.8
XlsxWriter==1.0.2
